%p.result 
%p.lives 3 lives left
%h1.start Start game
%ul.setup
  %li.no0 ✮
  %li.no1 ✮
  %li.no2 ✮
  %li.no3 ✮

%footer
  A 
  %a{:href=>"http://www.forwardtechnology.co.uk/"}
    Forward
  hack day project by 
  %a{:href=>"http://www.forwardtechnology.co.uk/emmasax"}
    Emma Sax