%p.result 
%p.lives 3 lives
%h1 Click anywhere to start
%ul.setup
  %li.no0 ✮
  %li.no1 ✮
  %li.no2 ✮
  %li.no3 ✮

%footer
  A 
  %a{:href=>"http://www.forwardtechnology.co.uk/"}
    Forward
  hack day project by 
  %a{:href=>"http://www.punkchip.com"}
    Emma Sax