%h1
%p.result Score: 0
%p.lives Lives: 5
%p.extra 
%footer
  A 
  %a{:href=>"http://www.forwardtechnology.co.uk/"}
    Forward
  hack day project by 
  %a{:href=>"http://www.punkchip.com"}
    Emma Sax