@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body, h1, h2, p, li, ul {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  background-color: #fff;
  color: #444;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 3em 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #999;
}
.colors {
  margin: 2em auto;
  overflow: hidden;
  width: 36em;
}
.colors li {
  float: left;  
  list-style-type: none;
  width: 6em;
  height: 6em;
  margin: 0 1.5em;
}

.colors li span {
  cursor: pointer;
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  transition: 250ms all ease-in;
  margin: 0 auto;
}

.colors li:hover span, .colors li.hide span {
  width: 4.5em;
  height: 4.5em;
}

.colors li.show span {
  height: 6em;
  width: 6em;
}

.result, .lives {
  font-weight: 300;
  font-size: 1.2em;
}

p {
  line-height: 1.4;
  display: inline;
  padding: 0 2em;
}

.extra {
  display: block;
  margin-top: 1em;
}

footer {
  color: #999;
  font-size: 0.8em;
  position: absolute;
  right: 10px;
  top: 5px;
}