* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  background-color: #cae1ff;
  margin: 0 auto;
  min-width: 510px; }

h1 {
  text-align: center;
  color: #444444;
  font-size: 52px;
  position: absolute;
  width: 100%;
  cursor: pointer;
  z-index: 10;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.6); }
  h1 span {
    font-size: 28px;
    font-weight: normal;
    vertical-align: middle; }

.lives {
  font-size: 20px;
  position: absolute;
  display: none;
  width: 100%;
  text-align: center; }

.tweet-this {
  background: url(../images/twitter.png) no-repeat 0 0;
  position: absolute;
  width: 38px;
  height: 38px;
  text-indent: -999em; }

footer {
  position: absolute;
  display: block;
  width: 100%;
  color: #333333;
  top: 10px;
  font-size: 14px;
  text-align: center; }
  footer a {
    color: #333333; }

.result {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30px; }

ul.colors li, ul.setup li {
  list-style-type: none;
  line-height: 0.8;
  position: absolute;
  color: #333333;
  z-index: 5;
  font-size: 300px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6); }
  ul.colors li.no0, ul.setup li.no0 {
    top: 20px;
    left: 20px; }
  ul.colors li.no1, ul.setup li.no1 {
    top: 20px;
    right: 20px; }
  ul.colors li.no2, ul.setup li.no2 {
    bottom: 20px;
    left: 20px; }
  ul.colors li.no3, ul.setup li.no3 {
    bottom: 20px;
    right: 20px; }

ul.colors li {
  display: none;
  -webkit-transition: all 0.5s ease-in;
  transition-property: font-size;
  transition-duration: 1s;
  transition-timing-function: ease-in-out; }
